@page
@model MyApp.Namespace.ProfListModel
@{
}
 
<div class="container p-3 my-3 bg-dark text-white">
    <h1>Professeurs List</h1>
    <p>List of Professeurs in the DB </p>
  </div><br/>
      <a class="btn btn-primary" href="/Student/AddStudent" role="button">Ajouter Etudiant</a>
  <br/><br/>

<form method="post">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Num ° ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Matiers</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>

          @foreach (var prof in Model.professors){
          <tr>
            <th>@prof.Id</th>
            <td>@prof.Nom <i>@prof.Prenom</i></td>
            @foreach (var mat in Model.subjects)
            {
              @if(mat.IdProf == prof.Id){
                <td>@mat.NomSubject</td>
              }
            }
            <td> 
              <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure that u want to delete that students')"
              asp-page-handler="delete" asp-route-id="@prof.Id" > Delete </button>
            </td>
                <td><a asp-page="./EditProf" asp-route-id="@prof.Id" class="btn btn-dark" > EDIT</a>  </td>
          </tr>
          }
        </tbody>
      </table>
</form>
</div>